// COLORS

$color-primary: #841a4d;
$color-primary-light:#c4367a;
$color-primary-dark: #561333;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$space-vertical: 8rem;
$space-horizontal: 6rem;